h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin: 25px 30%;
  width: 40%;
  text-align: center;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 25px 30%;
  width: 40%;
  text-align: center;
}